<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>メンバー</h2>
  <form action="/">
    <input type="submit" value="TOP">
  </form>
  <table border=1>
    <tr>
        <th></th>
        <th>名前</th>
    </tr>
      <% for( let row of data ) { %>
        
        <tr>
            <td><a href="/jidol/<%= row.id %>"><%= row.id %></a></td>
            <td><%= row.name %></td>
        </tr>
      <% } %>
  </table>
</body>
</html>