<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <link type="text/css"  rel="stylesheet" href="/public/css/show2.css">
  <title>Show message</title>
</head>
<body>
  <h1 id="top_logo"><img src="/public/img/johnys.PNG" alt="ジャニーズ"></h1>
  <div class="main">
    <%= mes %>
      <div id="ichiran">
        <ul>
          <li><a href="/team">グループ一覧</a></li>
          <li><a href="/jidol">タレント一覧</a></li>
        </ul>
      </div>
      <div class="wrap">
      <ul class="slider">
        <li class="slider-item"><img src="/public/img/j's/kinki.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/arashi.jpg"></li>     
        <li class="slider-item"><img src="/public/img/j's/kanjani.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/jwest.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/kinpri.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/naniwa.jpg"></li>
      </ul>
      <ul class="slider">
        <li class="slider-item"><img src="/public/img/j's/kinki.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/arashi.jpg"></li>     
        <li class="slider-item"><img src="/public/img/j's/kanjani.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/jwest.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/kinpri.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/naniwa.jpg"></li>
      </ul>
      <ul class="slider">
        <li class="slider-item"><img src="/public/img/j's/kinki.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/arashi.jpg"></li>     
        <li class="slider-item"><img src="/public/img/j's/kanjani.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/jwest.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/kinpri.jpg"></li>
        <li class="slider-item"><img src="/public/img/j's/naniwa.jpg"></li>
      </ul>
      </div>
      </p>
      <br>
      <p>
      <a href="/public/select1.html">グループ名で検索</a>
      <a href="/public/select2.html">名前で検索</a>
      </p>
  </div>
</body>
</html>