<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <%= mes %>
    <p><a href="/team">グループ一覧</a></p>
    <p><a href="/jidol">タレント一覧</a></p>
    <br>
    <p><a href="/public/select1.html">グループ名で検索</a></p>
    <p><a href="/public/select2.html">名前で検索</a></p>
    
</body>
</html>