<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>リーディングリスト</title>
</head>
<body>
  <h2>読んだ本の情報を登録してください</h2>
  <!-- <p><%= mes %></p> -->
  <a href="/public/read.html">読んだ本の情報を追加
</a><br>
  <a href="/public/finished.html">読了したかどうかを入力</a>
</body>
</html>