@charset "UTF=8";

body{
  background:#dfbfff
}

#top_logo{
  background:white
}
#top_logo img{
  width:25%;
  height:25%
}

.main{
  background:white;
  border-radius:10px
}

#ichiran{
  background:gray
}

#ichiran ul{
  list-style-type:none; /*箇条のポチ非表示*/
  text-aline:center
}

#ichiran ul li{
  display:inline-block
}

#ichiran ul li a{
  display:inline-block;
  background:#009fff;
  border-radius:10px; /*角を丸く*/
  width:100px;
  padding:10px 10px;
  margin:10px 0;
  vertical-aline:middle; /*縦の表示位置*/
  font-weight:bold; /*文字を太文字*/
  text-decoration:none; /*リンクの下線消す*/
  color:white
}

#ichiran ul li a:hover{
  background:silver
}

.wrap{
  display:flex;
  align-items:center;
  height:150px;
  overflow:hidden
}

.slider{
  display:flex;
  animation:loop-slide 30s infinite linear 1s both
}

.slider-item{
  height:150px;
  list-style-type:none
}

img{
  height:100%
}

@keyframes loop-slide{
  from{
    transform:translateX(0);
    }
  to{
    transform:translateX(-100%);
  }
}